body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #8a2be2, #4b0082);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upload-container {
    background: linear-gradient(to bottom right, #ffcccc, #ff99cc);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.upload-input {
    display: none;
}

.upload-label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.upload-label:hover {
    background-color: #0056b3;
}

#uploaded-image {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#result-div {
    width: 300px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    margin-top: 20px;
}

#result-div:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#upload-button{
    background: #ffa500;
    border-radius: 25px;
}