<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Upload</title>
        <link rel="stylesheet" href="{%static 'css/home.css'%}">
    </head>
    <body>
        <div class="upload-container">
            <h1>Vehicle License Plate Recognition System</h1>
            {% csrf_token %}
            <input type="file" id="file-input" class="upload-input">
            <label for="file-input" class="upload-label">Choose Image</label>
            <p>Accepts all file types</p>
            <div id="uploaded-image"></div>
            <button id="upload-button">Upload Image</button>
            <div id="result-div">
            </div>
        </div>
    </body>
    <script src="{%static 'js/home.js'%}"></script>
</html>

